/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f5f0e1; /* חום בהיר */
    color: #5d4037; /* חום אדמה כהה */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login container */
.login-container {
    background-color: #fff; /* רקע לבן */
    border-radius: 10px;
    padding: 40px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Header */
h2 {
    font-size: 2rem;
    color: #5d4037; /* חום אדמה כהה */
    font-weight: normal;
    margin-bottom: 30px;
    text-transform: uppercase;
}

/* Form styling */
input {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #bcae82;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: #f5f0e1; /* צבע חום בהיר */
}

/* Input focus effect */
input:focus {
    outline: none;
    border-color: #8d6e63; /* חום כהה */
}

/* Login button */
button {
    width: 100%;
    padding: 12px;
    background-color: #bcae82; /* חום בהיר */
    color: #5d4037;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 6px;
}

button:hover {
    background-color: #8d6e63; /* חום כהה */
}

/* Error message styling */
#error-message {
    color: red;
    margin-top: 10px;
}

/* Additional buttons */
#postmanButton {
    background-color: #d7a06d; /* חום-כתום */
    margin-top: 20px;
}

#postmanButton:hover {
    background-color: #bc8b5c; /* חום כהה-כתום */
}
